.pd-15 {
    padding: 15px 0 0 0;
}

.card-body h2{
    margin: 0;
}

.card-body .count {
    margin: 0;
}

.no-overflow {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 5;
    padding: 50;
    background-color: #dddddd;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
}